<div class="">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="p-6 space-y-4">
    <div>
      <label for="email" class="text-sm font-medium mb-1"> Email </label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="you@example.com"
        class="w-full border border-gray-300 p-2 rounded-md"
      />

      <p
        *ngIf="
          signupForm.get('email')?.touched && signupForm.get('email')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="signupForm.get('email')?.errors?.['required']">
          Email is required.
        </span>
        <span *ngIf="signupForm.get('email')?.errors?.['email']">
          Enter a valid email address.
        </span>
      </p>
    </div>

    <div>
      <label for="password" class="text-sm font-medium mb-1"> Password </label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter password"
        class="w-full border border-gray-300 p-2 rounded-md"
      />

      <p
        *ngIf="
          signupForm.get('password')?.touched &&
          signupForm.get('password')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="signupForm.get('password')?.errors?.['required']">
          Password is required.
        </span>
        <span *ngIf="signupForm.get('password')?.errors?.['minlength']">
          Password must be at least 8 characters.
        </span>
        <span *ngIf="signupForm.get('password')?.errors?.['maxlength']">
          Password cannot exceed 24 characters.
        </span>
      </p>
    </div>

    <div>
      <label for="confirm_password" class="text-sm font-medium mb-1">
        Confirm Password
      </label>
      <input
        id="confirm_password"
        type="password"
        formControlName="confirm_password"
        placeholder="Re-enter password"
        class="w-full border border-gray-300 p-2 rounded-md"
      />

      <p
        *ngIf="
          signupForm.get('confirm_password')?.touched &&
          signupForm.get('confirm_password')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        <span *ngIf="signupForm.get('confirm_password')?.errors?.['required']">
          Confirm password is required.
        </span>
        <span *ngIf="signupForm.get('confirm_password')?.errors?.['minlength']">
          Must be at least 8 characters.
        </span>
        <span *ngIf="signupForm.get('confirm_password')?.errors?.['maxlength']">
          Cannot exceed 24 characters.
        </span>
      </p>

      <p
        *ngIf="
          signupForm.get('confirm_password')?.touched &&
          signupForm.value.password !== signupForm.value.confirm_password
        "
        class="text-red-500 text-sm mt-1"
      >
        Passwords do not match.
      </p>
    </div>

    <button
      type="submit"
      [disabled]="signupForm.invalid"
      class="w-full bg-blue-600 text-white py-2 rounded-md disabled:bg-gray-400"
    >
      Sign Up
    </button>
  </form>
</div>
